# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment secrets
.env
.env.local
.env.production

# IDE & Scratch
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scratch_*.js

